<section class="page-header">
  <a href="{{ site.url }}"><h1 class="project-name">{{ site.title }}</h1></a>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://hub.docker.com/u/cyversewarwick/" class="btn">Docker Images</a>
  <a href="https://github.com/cyversewarwick" class="btn">Source Codes</a>
  <a href="https://de.cyverse.org/de/" class="btn">Official CyVerse Discovery Environment</a>
  <a href="https://cyverse.warwick.ac.uk/de" class="btn">Local Discovery Environment at Warwick</a>
</section>
