<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.url }}" class="btn">this.io</a>
  <a href="https://hub.docker.com/u/cyversewarwick/" class="btn">:whale: Images</a>
  <a href="https://github.com/cyversewarwick" class="btn">:octocat: Codes</a>
  <a href="https://de.cyverse.org/de/" class="btn">CyVerse Discovery Environment</a>
  <a href="https://cyverse.warwick.ac.uk/de" class="btn">Local Discovery Environment</a>
</section>
